body {
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
  }
  
  nav {
    background-color: #000;
    color: #fff;
    padding: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 1em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 2em;
  }
  
  .juego {
    background-color: #e4e4af;
    color: #000;
    padding: 2em;
    border-radius: 10px;
  }
  
  .juego h2 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .juego p {
    font-size: 1.5em;
  }
  
  .juego .fila {
    display: flex;
    justify-content: space-between;
  }
  
  .juego .columna {
    width: 33.3%;
  }
  
  .noticias {
    background-color: #add8e6;
    color: #000;
    padding: 2em;
    border-radius: 10px;
  }
  
  .noticias h2 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .noticias p {
    font-size: 1.5em;
  }
  
  .noticias .fila {
    display: flex;
    justify-content: space-between;
  }
  
  .noticias .columna {
    width: 50%;
  }
  
  .noticias .imagen {
    width: 100%;
  }
  
  .noticias a {
    color: #000;
    text-decoration: none;
  }
  
  /* footer {
    background-color: #000;
    color: #fff;
    padding: 2em;
    border-radius: 10px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  } */

  footer {
    background-color: #000;
    color: #fff;
    padding: 2em;
    border-radius: 10px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-info {
    padding-right: 20px;
  }
  
  .footer-contact {
    padding-left: 20px;
  }
  
  .footer-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-contact li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .footer-contact li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .footer-contact li p {
    font-size: 16px;
  }
  
  .footer-team {
    padding-bottom: 20px;
  }
  
  .footer-team h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-team ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-team li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .footer-team li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  